body {
  min-height: 100vh;
  margin: 0;
  font-family: "pragati narrow";
  overflow: hidden;
}

#main-container {
  width: 100%;
  height: 100vh;
  background-image: url("images/wallpaper.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#before-filter {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.18);
}

.text-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.name-container {
  font-size: 5.8em;
  font-weight: 700;
  text-align: center;
  word-break: break-word;
  max-width: 100%;
}

.description {
  font-weight: 200;
  font-size: 1.8em;
  color: rgba(255, 255, 255, 0.88);
}

.social-container {
  margin-top: 3.2em;
  display: flex;
}

.social-bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 100%;
  height: 2.8em;
  width: 2.8em;
  margin: 0 0.6em;
  font-size: 1.8em;
  transition: 0.3s;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.social-bubble:hover {
  background: rgba(255, 255, 255, 0.2);
}

.minerva-gate {
    color: inherit !important;
    text-decoration: none;
}
