body {
  background: #fff1dd;
  font-family: Noto Serif, serif, sans-serif;
  margin: 120px 0;
}

#main-container {
  width: 600px;
  max-width: calc(100% - 36px);
  padding: 0 18px;
  margin: 0 auto;
}

hr {
  border: 0;
  height: 2px;
  background-color: #000;
}